<div class="container">

  <!-- Main component for a primary marketing message or call to action -->
  <div class="jumbotron">
    <h1>Mars Rover Images</h1>
    <p>Select a rover name to see images broken down by the 4 dates given for this assessment.</p>
    <p>
      <button (click)="loadImages('curiosity')" class="btn btn-lg btn-dark m-1">Curiosity &raquo;</button>
      <button (click)="loadImages('opportunity')" class="btn btn-lg btn-dark m-1">Opportunity &raquo;</button>
      <button (click)="loadImages('spirit')" class="btn btn-lg btn-dark m-1">Spirit &raquo;</button>
    </p>
  </div>

  <!-- Content -->
  <div class="row mb-2">

    <!-- Results -->
    <div *ngIf="images && images.length > 0" class="col-12">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Capture Date</th>
            <th scope="col">Image</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let image of images">
            <td>{{image.date}}</td>
            <td><img class="img-fluid img-grid-img" src="{{baseUrl}}{{image.localUrl}}"></td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Loading -->
    <div *ngIf="loading" class="col-12">
      <div class="spinner-grow" role="status"></div>
      Working on it...this may take a few minutes, depending on how manay images there are to load for each date.
    </div>

    <!-- No Content -->
    <div *ngIf="noContent" class="col-12">
      Sorry, there arent any results to display.
    </div>

  </div>

  <!--- Footer -->
  <footer class="row">
    <div class="col-12">
      &copy; Cody Hicks
    </div>
  </footer>

</div> <!-- /container -->
